<!DOCTYPE html>
<html>
{{> Head}}

<body class="row vh-100  mx-0 p-4">

   {{> Navbar}}

    <div style="height: 5px"></div>

    {{{body}}}

   <style>
      .input-group-text {
         width: 55px;
         display: flex;
         justify-content: center;
      }

      .wrapper {
         width: 80%;
      }
   </style>
   
</body>

</html>