<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">Bsale Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
            </li>
        {{!--     <li class="nav-item"></li>
            <div data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-shopping-cart"></i>
            </div>
            </li> --}}
        </ul>
        <div class="input-group">
            <input id="busqueda" type="text" class="form-control" placeholder="Busca tu producto aqui...">
            <div class="input-group-btn">
                <button id="buscador" class="btn btn-outline-info" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>

</nav>

<div class="container row py-5">
    <table class="table table-light">
        <tbody>
            <tr>
                <td scope="col" class="prueba"><button class="btn btn-light btnCategory" value="energeticas">Bebidas
                        Energéticas</button>
                <td scope="row"><button class="btn btn-light btnCategory" id="pisco" value="pisco">Pisco</button></td>
                <td scope="row"><button class="btn btn-light btnCategory" id="ron" value="ron">Ron</button>
                </td>
                <td scope="row"><button class="btn btn-light btnCategory" id="bebida" value="bebida">Bebida</button></td>
                <td scope="row"><button class="btn btn-light btnCategory" id="snack" value="snack">Snack</button></td>
                <td scope="row"><button class="btn btn-light btnCategory" id="cerveza" value="cerveza">Cerveza</button></td>
                <td scope="row"><button class="btn btn-light btnCategory" id="vodka" value="vodka">Vodka</button></td>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                ...
            </div>

        </div>
    </div>
</div>


<script>
    $("#buscador").click(() => {
        let busqueda = $("#busqueda").val();
        let urlFinal = "busqueda/" + busqueda;
         !busqueda ? alert("Debe escribir algo en la busqueda") : window.location = "/"+ urlFinal
    })

</script>