
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">Bsale Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/carrito">Carrito</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <p id="nombre"></p>
            <input id="busqueda" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button id="buscador" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </div>
</nav>

<script>

   
  const catalogo = () => window.location = `/Catalogo`; // obtener las transferencias
   

</script>