<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">Bsale Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
            </li>
            <li class="nav-item"></li>
            <a class="nav-link" href="/carrito"><i class="fas fa-shopping-cart"></i></a>
            </li>
        </ul>
        <div class="input-group">
            <input id="busqueda" type="text" class="form-control" placeholder="Busca producto por nombre, precio">
            <div class="input-group-btn">
                <button id="buscador" class="btn btn-outline-info" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>

</nav>

<div class="container row py-5">
    <table class="table table-light">
        <tbody>
            <tr>
                <td scope="col"><button class="btn btn-light btnCategory" id="energeticas" value="1">Bebidas
                        Energéticas</button>
                <td scope="row"><button class="btn btn-light btnCategory" id="pisco" value="2">Pisco</button></td>
                <td scope="row"><button class="btn btn-light btnCategory" id="ron" value="3">Ron</button>
                </td>
                <td scope="row"><button class="btn btn-light btnCategory" id="bebida" value="4">Bebida</button></td>
                <td scope="row"><button class="btn btn-light btnCategory" id="snack" value="5">Snack</button></td>
                <td scope="row"><button class="btn btn-light btnCategory" id="cerveza" value="6">Cerveza</button></td>
                <td scope="row"><button class="btn btn-light btnCategory" id="vodka" value="7">Vodka</button></td>
            </tr>
        </tbody>
    </table>
</div>

<script>


    $("#busqueda").keydown((event) => {

        let busqueda = $("#busqueda").val();
        let urlFinal = "busqueda/" + busqueda;
        let ok = true;
        if (busqueda.length == 0 && event.keyCode == 13) {
            alert("Debe escribir algo en la busqueda")
            ok = false 
        };
        if (event.keyCode == 13 && ok == true) {
            window.location = "/" + urlFinal
        }
    })

    $("#buscador").click(() => {
        busqueda = $("#busqueda").val();
        urlFinal = "busqueda/" + busqueda;
        !busqueda ? alert("Debe escribir algo en la busqueda") : window.location = "/" + urlFinal
    })

    $(document).ready(function () {
        $('.btnCategory').click(function () {
            let category = $(this).val();
            console.log(category)
            let urlFinalCategory = "categoria/" + category;
            window.location = "/" + urlFinalCategory
        });
    });

</script>
