<div id="Catalogo">
    <div class="container-fluid">
        <div class="row mt-0">
            {{#unless productos}}
            <h6>No se consiguieron resultados en su búsqueda</h6>
            {{/unless}}

            {{#each productos}}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card mb-2 shadow-sm">
                    <div class="card-header">
                        <h6 class="my-0 font-weight-bold text-center">{{this.name}}</h6>
                    </div>
                    <img class="card-img-top" src="{{this.url_image}}" alt="Card image">
                    <div class="card-body text-center font-weight-bold ">
                        <b class="card-title"> $ {{this.price}} </b>
                        <a href="/producto/{{this.id}}"><i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>