<div class="container-fluid">
    <h3>Carrito de Compra</h3>
    <hr>
    <div class="row productos">

    </div>
    <h1>Total: $<span id="total"></span></h1>
    <button class="btn btn-success" onclick="pagar()">Pagar</button>
</div>

<script>

    let carrito = JSON.parse(localStorage.getItem("carrito"))

    carrito.forEach(p => {
        $(".productos").append(`
        <div class="col-12 row">
            <div class="col-7">
                <img src="${p.url_image}" class="img-fluid" alt="">
            </div>
            <div class="col-5">
                <h4>Producto: ${p.name}</h4>
                <h4>Descuento: ${p.discount} % </h4>
                <h4>Precio: $${p.price}</h4>
                <button class="btn btn-dark" onclick="minus('${p.id}')">- </button>
                <h3 class="d-inline">${p.cant}</h3>
                <button class="btn btn-dark" onclick="plus('${p.id}')">+ </button>
                <p>
                <h4>Total: <span style="font-size: 30px;">$${p.total}</span>
            </div>
            <hr class="w-100">
        </div>
        `)
    })


    const minus = (id) => {
        producto = carrito.find(p => p.id == id)
        carrito = carrito.map(p => {
            if (p.id == id) {
                p.cant--
                p.total = p.cant * p.price
                return p
            }
            return p
        })
        if (producto.cant < 1) {
            carrito = carrito.filter(p => p.id != id)
        }
        localStorage.setItem("carrito", JSON.stringify(carrito))
        location.reload()
    };

    const plus = (id) => {
        producto = carrito.find(p => p.id == id)
        if (producto.stock < producto.cant + 1) {
            alert("Lo siento no tenemos tantas productos")
            return false
        }

        // Considerar que esta función debiera estar sujeta a cambios en tiempo real del stock y el precio del producto
        carrito = carrito.map(p => {
            if (p.id == id) {
                p.cant++
                p.total = p.cant * p.price
                return p
            }
            return p
        })
        localStorage.setItem("carrito", JSON.stringify(carrito))
        location.reload()
    }

    let total = carrito.map(p => p.total).reduce((a, b) => a + b)
    $("#total").html(total)

    const pagar = async () => {
        alert('Serás rederigido para efectuar tu pago. Muchas gracias por tu compra');
        localStorage.removeItem("carrito", JSON.stringify(carrito))
        window.location = "/"
    }

</script>
